/* Form Styles */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

.input__regis{
    width: 23rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.boton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 10rem;
}

.boton:hover {  
    background-color: black;
    color: white;
    transform: scale(1.1);
    border: 2px solid white;
}
.separator{
  background-image: url("../img/tennis.jpg");
  background-size: cover;
  background-position: center;
  height: 130%;
  /* position: relative;
  z-index: 1 ; */
}
.reg__boton{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
@media(max-width: 768px) {
  .separator{
    grid-template-columns: 70% 30%;
    height: 150%;
}    
}
.container {
    max-width: 30rem;
    background-color: rgba(125, 125, 125, 0.8);
    padding: 20px 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    position:static;
    z-index: 1;
    height: 22rem;
    border-radius: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
